{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>
<body>
<h1>НОВОСТИ</h1>
{% for i in news %}
        <div class="card">
            <img src="{{ i.news_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" >{{ i.title }}</h5>
                <p class="card-text">{{ i.description }}</p>
                <p class="card-text">Категория: {{ i.category }}</p>
                <a href="/favourite_news/{{ i.id }}" class="btn btn-primary">Добавить в избранное</a>
            </div>
        </div>
    {% endfor %}
</body>
</html>