{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Izbrannoe</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/gh-pages/css/shop-homepage.css'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<h1>Избранное</h1>
{% for b in products %}
<div class="col-md-4">
                <div class="card" style="width: 18rem;">
              <img src="{{ b.image.url }}" width="200px" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ b.product_name }}</h5>
                <p class="card-text">{{ b.description|slice:117 }}</p>
                <a href="/products/{{ b.id }}" class="btn btn-primary">See More...</a>
                  <form action="/add_to_cart/{{ b.id }}" method="post">
                      <br>
                      {% csrf_token %}
                      <input type="number" min="1" value="1" name="pr_count">
                      <button class="btn btn-success" type="submit">Add to c
                          art</button>
                      <br>
                      <br>
                  </form>
              </div>
            </div>
        </div>
{% endfor %}
</body>
</html>