{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>
<body>
<h1>Favourite News</h1>
<div class="card">
            <img src="{{ news.news_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" >{{ news.title }}</h5>
                <p class="card-text">{{ news.description }}</p>
                <p class="card-text">Категория: {{ news.category }}</p>
            </div>
        </div>
</body>
</html>